@charset "utf-8";

.tbTile {
  width: 165px !important;
  margin: 5px 0px 0px 5px !important;
}

td.taskboard-cell.ui-droppable {
  padding: 0;
}

td.taskboard-cell.taskboard-parent {
  padding: 0;
}

.taskboard-parent {
  min-width: 170px !important;
  width: 170px !important;
}

.tbTile .tbTileContent {
  height: 100%;
}

.id-title-container .title .clickable-title {
  font-size: 1.1em;
}

.board-tile-content .id-title-container, .tbTile .id-title-container {
  padding: 0px 0px 0px 2px !important;
  margin: 0 !important;
}

.tbTile .container {
  margin: 0 !important;
}

.additional-field.lastAdditionalField {
  margin-bottom: 0 !important;
}

td.taskboard-cell.ui-droppable {
  padding: 0 !important;
}

.add-new-item.board-add-card {
 z-index: 100;
 left: auto !important;
 right: 5px;
}

.vss-Hub .vss-HubPivotBar:not(.shadowStyle) {
  padding-top: 0 !important;
}

.vss-PivotBar .vss-PivotBar--pivots.tall .vss-PivotBar--button {
  height: 24px !important;
}

.vss-PivotBar .vss-PivotBar--bar.tall .vss-PivotBar--commandBar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 24px !important;
}

.ms-FocusZone.container_bcedf589 {
  margin-top: -4px;
}

.vss-PivotBarItem.content-host.customPadding {
  padding: 0 !important;
}

.sprints-hub-taskboard-spacer {
  margin-right: -20px;
}

.region-header {
  height: 32px !important;
}

.mectrl_profilepic.mectrl_glyph.glyph_account_circle.mectrl_hc_msa {
  margin: 0 !important;
}

.project-navigation .navigation-icon {
  width: 36px !important;
}

.region-navigation {
  width: 36px !important;
}

.vss-HubTileRegion {
  height: 34px !important;
}

.tags.field-container, .field-container.additional-field {
  padding: 0 !important;
}

[field="System.State"] .field-label {
  width: 0 !important;
  margin: 0 !important;
}

[field="System.State"] .field-inner-element {
  width: 50% !important;
}

[field="Microsoft.VSTS.Scheduling.StoryPoints"] {
  position: absolute;
  bottom: 0;
  right: 0;
}

[field="Microsoft.VSTS.Scheduling.StoryPoints"] .field-label {
  width: 0 !important;
  margin: 0 !important;
}

[field="Microsoft.VSTS.Scheduling.StoryPoints"] .field-inner-element {
  width: 32px !important;
  font-weight: bold;
}